---
import { cn } from "@shared/lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  label?: string;
  containerClassName?: string;
  endIcon?: string;
}

const {
  class: className,
  containerClassName = "",
  label,
  endIcon,
  ...props
} = Astro.props;
---

<div class={cn("relative w-full", containerClassName)}>
  {label && <label class="mb-0.5 inline-block text-sm">{label}</label>}
  <div class="relative">
    <input
      class={cn(
        "flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm",
        className
      )}
      {...props}
    />
    {endIcon && <Fragment set:html={endIcon} />}
  </div>
</div>
