---
import Stream from "../features/stream/ui/Stream.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid place-items-center h-full">
    <Stream />
  </div>
</Layout>
