---
import Bebra from "@/features/stream/ui/Bebra.astro";
import Stream from "../features/stream/ui/Stream.astro";
import StreamCopy from "../features/stream/ui/StreamCopy.astro";
import Layout from "../layouts/Layout.astro";
import Bebrasan from "@/features/stream/ui/Bebrasan.astro";
---

<Layout>
  <div class="grid place-items-center h-full">
    <!-- <Stream /> -->
    <StreamCopy />
  </div></Layout
>
