---
import Layout from "../layouts/Layout.astro";
import Joiner from "../features/p2p/ui/Joiner.astro";
---

<Layout>
  <div class="mx-2 grid h-full place-items-center">
    <div class="mx-auto w-full max-w-2xl rounded-lg border p-6 shadow-lg">
      <Joiner />
    </div>
  </div>
</Layout>
