---
import Chat from "./Chat.astro";
import Button from "@/shared/ui/button.astro";
---

<Chat />

<div id="connection-section" class="space-y-4">
  <div class="space-y-6">
    <div class="rounded-md">
      <p id="status" class="text-sm text-gray-600"></p>
    </div>

    <Button id="createOfferBtn">Create Session</Button>
  </div>

  <script>
    import { InitiatorManager } from "../../connection/lib/initiator";
    import { updateStatus } from "../../logging/lib";
    updateStatus('Click "Create Session" button and share generated SessionID');

    const initiatorManager = new InitiatorManager(window.pc);
    initiatorManager.setupListeners();
  </script>
</div>
