---
import Chat from "./Chat.astro";
import Input from "@/shared/ui/input.astro";
import Textarea from "@/shared/ui/textarea.astro";
import Button from "@/shared/ui/button.astro";
---

<Chat />

<!-- Creator Section -->
<div id="connection-section" class="space-y-4">
  <div class="space-y-6">
    <div class="rounded-md">
      <p id="status" class="text-sm text-gray-600"></p>
    </div>

    <div class="space-y-2">
      <label class="text-sm text-gray-600">Video Source Link(Optional)</label>
      <Input id="videoSourceLink" placeholder="https://random.com" />
    </div>

    <Button id="createOfferBtn">Create Offer</Button>
  </div>

  <script>
    import { initializePeerConnection } from "../../connection/lib/initializePeerConnection";
    import { VideoSyncManager } from "../../video/lib/VideoSyncManager";
    import { InitiatorManager } from "../../connection/lib/initiator";
    import { updateStatus } from "../../logging/lib";

    initializePeerConnection();
    updateStatus(
      'First, paste video link and then click "Create Offer" button'
    );

    const videoElement = document.getElementById(
      "sharedVideo"
    ) as HTMLVideoElement;
    const videoSyncManager = new VideoSyncManager(
      videoElement,
      window.videoChannel
    );

    const videoSourceLink = document.getElementById(
      "videoSourceLink"
    )! as HTMLInputElement;

    window.videoChannel.addEventListener("open", () => {
      videoSyncManager.setVideoSource(videoSourceLink.value);
    });
    const initiatorManager = new InitiatorManager(window.pc);
    initiatorManager.setupListeners();
  </script>
</div>
