---
import Button from "@/shared/ui/button.astro";
import Chat from "./Chat.astro";
import Input from "@/shared/ui/input.astro";
---

<Chat />

<!-- Joiner Section -->
<div id="connection-section" class='space-y-4"'>
  <div class="space-y-6">
    <div class="rounded-md">
      <p id="status" class="text-sm text-gray-600"></p>
    </div>

    <div class="space-y-2">
      <label class="text-sm text-gray-600">Paste SessionID Here:</label>
      <Input
        id="sessionIdInput"
        placeholder="Paste the SessionID you received"
      />
    </div>
    <Button id="joinChatBtn">Join Chat</Button>
  </div>

  <script>
    import { initializePeerConnection } from "../../connection/lib/initializePeerConnection";
    import { JoinerManager } from "../../connection/lib/joiner";
    import { setupVideoPlayer } from "@features/video/lib/setupVideoPlayer";
    initializePeerConnection();

    window.videoChannel.addEventListener("message", async event => {
      const message = JSON.parse(event.data);

      if (message.type === "video-source" && message.src) {
        setupVideoPlayer(message.src);
      }
    });

    const joinerManager = new JoinerManager(window.pc);
    joinerManager.setupListeners();
  </script>
</div>
