---
import { Link } from "@/shared/ui/Link";
---

<div class="max-w-2xl w-full mx-auto border rounded-lg shadow-lg p-6">
  <h1 class="text-2xl font-bold mb-6">WebRTC Chat</h1>

  <div class="space-y-6">
    <div class="rounded-md">
      <p id="status" class="text-sm text-gray-600"></p>
    </div>

    <!-- Role Selection -->
    <div id="roleSelectionSection" class="grid grid-cols-2 gap-4 mb-6">
      <Link href="/creator" id="createBtn">Create Chat</Link>
      <Link href="/joiner" id="joinBtn">Join Chat</Link>
    </div>

  </div>
</div>

